:root {
  --main-color: rgb(201, 238, 156);
}
body {
  background-color: var(--main-color);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 190px auto;
}
.wrapper {
  width: 500px;
  background-color: #fff;
  border-radius: 6px;
  text-align: center;
  padding: 20px;
}
.wrapper h3 {
  font-size: 2rem;
  text-align: left;
}
.wrapper p {
  text-align: left;
  font-size: 1.1rem;
  margin-top: -18px;
}
#text-input {
  text-align: left;
  width: 100%;
  height: 30px;
  border: 1px solid grey;
}
#check-button {
  margin-top: 18px;
  width: 100%;
  height: 40px;
  background-color: var(--main-color);
  outline: none;
  border-radius: 8px;
  border: none;
  color: #0b0404;
  cursor: pointer;
  
  
}
.result {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(153, 84, 84);
}
.active{
  display: none;
}